h1 {
  color: tomato;
}

#lotto{
  
  div{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    opacity: 0;

    &::after{
      content: ",";
      position: absolute;
    }

    &:last-child::after{
      display: none;
    }
    
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: appear 1s .5s * $i forwards; 
        // animation-name: appear;
        // animation-duration: 1s;
        // animation-delay: .5s * $i;
        // animation-fill-mode:forwards;
      }
    }

  }

}

@keyframes appear {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
